
.CareerMain{
    height: 1750px;
    background-color: #4EB1BA;


}
.background {
    margin-top: 50px;
    width: 500px;
    height: auto;
}
.graphic{ 
    
    text-align: center;
font-size: x-large;
    margin-top: 50px;
}
.required{
    margin-top: 40px;
    margin-left: 60px;
    font-size: large;
}

.apply{
text-align: center;
margin-left: 25%;
margin-top: 15px;
width: 40%;
}
.career1{
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
    color: rgb(73, 73, 73);
    margin-top: 10px;
}
.catch-phrase{
    font-size: x-large;
    font-family: cursive;
    color: rgb(73, 73, 73);
}
.line{
    margin-top: 20px;
margin-left: 20px;
}

.rectangle{
    margin-left: 50px;
    margin-top: 750px;
    font-family: cursive;
    color: rgb(73, 73, 73);
    border-color: rgb(73, 73, 73);
    border-style: groove;
    border-radius: 40px;
    height: 447px;
  position: absolute;
    top:0;
    width: 502px;
    }
    
    .rectangle2{
        
        margin-top: 750px;
        margin-left: 685px;
    font-family: cursive;
    color:rgb(73, 73, 73);
    border-style: groove;
        border-radius: 40px;
        border-color: rgb(73, 73, 73);
    height: 447px;
  position: absolute;
    top:0;
    width: 502px;
    }
    .rectangle3{
        margin-top: 1300px;
        margin-left: 50px;
    font-family: cursive;
    color: rgb(73, 73, 73);
    border-color: rgb(73, 73, 73);
    border-style: groove;
        border-radius: 40px;
    height: 447px;
  position: absolute;
    top:0;
    width: 502px;
    }

    .rectangle4{
        margin-top: 1300px;
        margin-left: 685px;
    font-family: cursive;
    color: rgb(73, 73, 73);
    border-color: rgb(73, 73, 73);
    border-style: groove; 
       border-radius: 40px;
    height: 447px;
  position: absolute;
    top:0;
    width: 502px;
    }

