html{
  width: auto;
}
.App {
  text-align: justify;
  width: 100%;
  margin: 0;
  padding: 0;
}
div{
  justify-items: center;
}
#root{
  width: 100%;
}

body{
  /* background-image: url("images/backdrop1.jfif"); */
  margin-right: 0px;
  width: 98%;
  padding: 0px;
  background-color: rgba(11,35,71,255);

}
.header{
  justify-items: left;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:link {
  text-decoration: none;
  color: whitesmoke;
  
}
:visited{
  text-decoration: none;
  color: black;
  
}
.content{
  border-width: 10px;
  border-color: black;
}
